---
branches:
- master
- main

plugins:
- - "@semantic-release/commit-analyzer"
  - preset: conventionalcommits
    # releaseRules:
    # - type: chore
    #   scope: deps
    #   release: patch
- "../../studyoco/devops/semantic-release-scheduled/index.js"
- - "@semantic-release/release-notes-generator"
  - preset: conventionalcommits
    presetConfig:
    types:
    - type: feat
      section: ":sparkles: Features"
      hidden: false
    - type: fix
      section: ":bug: Fixes"
      hidden: false
    - type: docs
      section: ":memo: Documentation"
      hidden: false
    - type: style
      section: ":barber: Code-style"
      hidden: false
    - type: refactor
      section: ":zap: Refactor"
      hidden: false
    - type: perf
      section: ":fast_forward: Performance"
      hidden: false
    - type: test
      section: ":white_check_mark: Tests"
      hidden: false
    - type: ci
      section: ":repeat: CI"
      hidden: false
    - type: chore
      section: ":repeat: Chore"
      hidden: false
